*{
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
    background-color: #D3D3D3;
    background-image: url(light grey.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
  
}
.header {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 5;
  background-image: url(columbia blue.jpeg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  opacity: 0.7;
}
nav {
  display: flex;
  margin: 0;
  padding: 2% 6%;
  justify-content: space-betweem;
  align-items: center;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block; 
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-soze: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #8C92AC;
  display: block;
  margin: auto;
  transition:0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
 }

 .Introduction{
   width:90%;
   color: #fff;
   position: absolute;
 }
 .Introduction h2{
   font-size: 18px;
 }
 .Introduction p{
   margin: 20px 20px;
   font-size: 14px;
   color: #fff;
 }

 .Coursework{
   width:90%;
   color: #fff;
   position: absolute;
 }
 .Coursework h3{
   font-size: 16px;
 }
 .Coursework ol{
   margin: 20px 20px;
   font-size: 14px;
   color: #fff;
 }
 .Projects{
   width:90%;
   color: #fff;
   position: absolute;
 }
 .Projects h3{
   font-size: 16px;
 }
 .Projects p{
   margin: 20px 20px;
   font-size: 14px;
   color: #fff;  
}
.linkedin-btn{
  display: inline-block;
  text-decoration: none;
  color #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.linkedin-btn:hover{
  border: 1px solid #9BDDFF;
  background: #9BDDFF;
  transition: 1s;
}


