*{
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
body {
    background-color: #D3D3D3;
    background-image: url(light grey.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  
}
.header {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 5;
  color: #9BDDFF;
  opacity: 0.7;
}
nav {
  background: #9BDDFF;
  display: flex;
  margin: 0;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block; 
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #8C92AC;
  display: block;
  margin: auto;
  transition:0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
 }

 #Introduction{
   width: 70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 20px;
 }

 .line {
   position: relative;
   display: inline-block;
 }

 .line::after{
   content: '';
   display: block;
   margin: auto;
   width: 100%;
   height: 2px; 
   background: #333; 
 }
 #Introduction .intro-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
 #Introduction h3{
   font-weight: bold;
   font-size: 24px;
 }
 #Introduction p{
   margin: 0;
   font-size: 18px;
   color: #3C3C3C;
   flex: 1;
 }
 #Introduction img{
   max-width: 150px; 
   margin: 0 10px 10px 0;
   border: 2px solid #fff;
 }
 .Columbia-Pics img{
   max-width: 200px; 
   margin: 0 10px 10px 0;
   border: 2px solid #fff;
 }
 #Coursework{
   width:70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 20px;
 }
 #list{
   width:60%;
   font-size: 18px;
   color: #3C3C3C;
 }
 #Coursework h3{
   font-weight: bold;
   font-size: 22px;
 }
 #Projects{
   width:70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 20px;
 }
 #Projects h3{
   font-weight: bold;
   font-size: 22px;
 }
 #Projects p{
   margin: auto;
   font-size: 18px;
   color: #3C3C3C;  
}
 #Contact {
   width: 70%;
   color: #3C3C3C;
   text-align: center;
   list-style: none;
   margin: auto;
 }

.linkedin-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
  flex:1;
  list-style: none; 
}
.linkedin-btn:hover{
  border: 1px solid #9BDDFF;
  background: #9BDDFF;
  transition: 1s;
}



