*{
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
body {
    background-color: #D3D3D3;
    background-image: url(light grey.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  
}
.header {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 5;
  color: #9BDDFF;
  opacity: 0.7;
}
nav {
  background: #9BDDFF;
  display: flex;
  margin: 0;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block; 
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #8C92AC;
  display: block;
  margin: auto;
  transition:0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
 }

 #Introduction{
   width: 70%;
   color: #3C3C3C;
   margin: 20px auto;
   margin-top: 20px;
 }
   
 #Introduction h2{
   font-weight: bold;
   font-size: 22px;
 }
 #Introduction p{
   margin: 20px auto;
   font-size: 18px;
   color: #3C3C3C;
   display: flex;
   align-items: center;
 }
 #Introduction p img{
   max-width: 175px; 
   margin-right: 10px;
 }

 #Coursework{
   width:70%;
   color: #3C3C3C;
   margin: 20px auto;
   margin-top: 20px;
 }
 #Coursework h3{
   font-weight: bold;
   font-size: 22px;
 }
 #Coursework ol{
   margin: 20px auto;
   font-size: 18px;
   color: #3C3C3C;
   width: 90%;
 }
 #Projects{
   width:70%;
   color: #3C3C3C;
   margin: 20px auto;
   margin-top: 20px;
 }
 #Projects h3{
   font-weight: bold;
   font-size: 22px;
 }
 #Projects p{
   margin: 20px auto;
   font-size: 18px;
   color: #3C3C3C;  
}
 #Contact {
   margin: auto;
   width: 90%;
   color: #3C3C3C;
 }
.linkedin-btn{
  display: block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  
}
.linkedin-btn:hover{
  border: 1px solid #9BDDFF;
  background: #9BDDFF;
  transition: 1s;
}


