*{
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
}
body {
    background-color: #D9DDDC;
    background-image: url(light grey.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0px;
  
}
.header {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 5;
  color: #9BDDFF;
  opacity: 0.7;
}
nav {
  background: #9BDDFF;
  display: flex;
  margin: 0;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block; 
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #8C92AC;
  display: block;
  margin: auto;
  transition:0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
 }

 #Introduction{
   width: 70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 40px;
 }

 .line {
   position: relative;
   display: inline-block;
 }

 .line::after{
   content: '';
   display: block;
   margin: auto;
   width: 100%;
   height: 2px; 
   background: #333; 
 }
 #Introduction .intro-content {
  display: flex;
}
 #Introduction .intro-content .text-content {
  margin-right: 20px;
}
 #Introduction p{
   margin: 0;
   font-size: 18px;
   color: #3C3C3C;
   margin-bottom: 15px; /* Add space between paragraphs */
 }
 #Introduction img{
   max-width: 180px;
   margin: 0 10px 10px 0;
   border: 2px solid #fff;
   border-radius: 10%;
 }

 .Columbia-Pics{
   display: flex;
   justify-content: center; 
   align-items: center;
 }
 .Columbia-Pics img{
   max-width: 250px; 
   margin: 0 10px 0 10px;
   border: 4px solid #fff;
   border-radius:10%;
   margin-right: 30px;
 }
 #Education{
   width:70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 40px;
 }
 #Education h3 {
  font-weight: bold;    
  font-size: 24px !important;      
  margin-bottom: 20px;  
  color: #3C3C3C;      
}
 #Education .school p:first-child { /* University */
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
 }
 #Education .school p.degree {
  margin-left: 20px;
  font-size: 18px;
  font-style: italic;
 }
 #Education .school p.degree .years {
  font-style: normal;      
  color: #3C3C3C;
  margin-left: 5px;        
  font-weight: normal;
 }
 #Education .school p.gpa {
  margin-left: 20px;
  font-size: 16px;
  color: #3C3C3C;
 }
 #Coursework{
   width:70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 20px;
 }
 #list{
   width:60%;
   font-size: 18px;
   color: #3C3C3C;
   margin-top: 20px;
 }
  #list ul ul {
    margin-left: 20px;       /* indent sublists */
    list-style-type: square; /* different bullet style for sublists */
  }
 #Coursework h3{
   font-weight: bold;
   font-size: 24px;
 }
 #Projects{
   width:70%;
   color: #3C3C3C;
   margin: auto;
   margin-top: 40px;
 }
 #Projects h3{
   font-weight: bold;
   font-size: 22px;
 }
 #Projects h2{
   font-weight: bold;
   font-size: 24px;
 }
 #Projects p{
   margin-top: 40px;
   margin: auto;
   font-size: 18px;
   color: #3C3C3C;  
}
 #Work h3{
   font-weight: bold;
   font-size: 24px;
 }
 #Contact {
   width: 70%;
   color: #3C3C3C;
   text-align: center;
   padding-bottom: 20px;
   margin-bottom: 20px;
   margin:auto;
   margin-top: 20px;
}
#Contact p{
  padding-top: 20px;
}
.pdf{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-